<tr id="<%= dom_id position %>" class="text-center">
    <td style="width: 40%;"><%= position.name %></td>
    <td style="width: 20%;"><%= position.salary %></td>
    <td style="width: 20%;"><%= position.vacation_days %></td>
    <td style="width: 10%;"></td>
    <td style="width: 10%;">
        <%= link_to t('button.edit'), edit_position_path(position), class: "btn btn-warning btn-sm" %>
    </td>
</tr>