<h4><%= t('.title') %> <%= @worker_position.worker.last_name %> <%= @worker_position.worker.first_name %> <%= @worker_position.worker.middle_name %></h4>

<%= render "form", worker_position: @worker_position %>