<p><%= t('.hello') %> <%= @resource.email %>!</p>

<p><%= t('.text_first') %></p>

<p><%= link_to t('.link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<%= t('.text_second_html') %>
